/* PAGE LAYOUT (Sticky Footer) */

html, body{
    height:100%;
}

body{
    display:flex;
    flex-direction:column;
}

/* NAVBAR */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;

    background:#222;
    color:white;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 20px;
    z-index:1200;
}

.nav-left{
    display:flex;
    align-items:center;
}

.logo{
    font-size:20px;
    margin-left:15px;
}

.menu-btn{
    background:none;
    border:none;
    color:white;
    font-size:22px;
    cursor:pointer;
}

.nav-right{
    display:flex;
    align-items:center;
}

/* SIDEBAR */

.sidebar{
    width:220px;
    background:#222;
    color:white;

    position:fixed;
    top:0;
    left:0;
    height:100%;

    padding-top:60px;

    transform:translateX(-100%);
    transition:0.3s;
}

.sidebar.active{
    transform:translateX(0);
}

.sidebar ul{
    list-style:none;
    padding:20px;
}

.sidebar ul li{
    margin:15px 0;
}

.sidebar ul li a{
    color:#ccc;
    text-decoration:none;
    padding:10px;
    display:block;
}

.sidebar ul li a:hover{
    background:#3a3a3a;
    color:white;
}

/* CONTENT */

.main-content{
    margin-top:70px;
    padding:20px;
    flex:1;
}

/* OVERLAY */

#sidebar-overlay{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.3);

    opacity:0;
    visibility:hidden;
}

#sidebar-overlay.active{
    opacity:1;
    visibility:visible;
}


/* ============================= */
/* RECRUITER DROPDOWN MENU */
/* ============================= */

.dropdown .submenu{
    display:none;
    list-style:none;
    padding:0px;          /* remove extra padding */
    margin:0px;           /* remove extra margin */
}

.dropdown .submenu li{
    margin:10;           /* remove big gaps */
}

.dropdown .submenu li a{
    padding:10px 10px 10px 25px; /* indent but keep same height */
    font-size:14px;
    color:#ccc;
}

.dropdown .submenu li a:hover{
    background:#3a3a3a;
    color:white;
}

.dropdown .submenu.open{
    display:block;
}   


/* FOOTER */

.footer{
    background:#222;
    color:white;
    text-align:center;
    padding:65px 10px;
    font-size:14px;
}